@{
    Layout = null;
}
<!-- BEGIN PAGE HEADER-->
@{Html.RenderAction("OAContentPageHead");}
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->

<div class="row">
    @{Html.RenderAction("PartArticleList");}
    @{Html.RenderAction("PartMsgList");}
</div>
<div class="row">
    @{Html.RenderAction("PartScheduleList");}
    @{Html.RenderAction("PartWeChatList");}
</div>
<!-- END PAGE CONTENT-->