@{
    Layout = null;
}
@using CommonService.Common
@model List<CommonService.Model.CaseManager.B_CaseLevelChangeRecords>
@{
    ViewBag.Title = "级别变更记录";
}
<table class="tablelist">
    <thead>
        <tr>
            <th width="15%">类型</th>
            <th width="25%">时间</th>
            <th width="60%">纪要</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.B_CaseLevelChangeRecords_typeName</td>
                <td>@item.B_CaseLevelChangeRecords_actualChangeDate.Value.ToString("yyyy-MM-dd")</td>
                @if (item.B_CaseLevelChangeRecords_type == Convert.ToInt32(CaseLevelChangeRecordTypeEnum.自动))
                {
                    <td>@item.B_CaseLevelChangeRecords_conversionReasons</td>
                }
                else
                {
                    <td>@(item.B_CaseLevelChangeRecords_applicationPersonName + "因\"" + item.B_CaseLevelChangeRecords_conversionReasons + "\"转为\"" + item.B_CaseLevelchange_typeName + "\"")</td>
                }
            </tr>
        }
    </tbody>
</table>    
