@model CommonService.Model.CaseManager.B_Case
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "案件";
}
<div class="formbody">
    <ul class="forminfo">
            <li><label>要求</label>@Html.TextArea("B_Case_Requirement", Model.B_Case_Requirement, new { @class = "textinput", @readonly = "readonly", requiredInput = "请输入要求", maxlength = "3000" })<i></i></li>
            <li><label>备注</label>@Html.TextArea("B_Case_Remarks", Model.B_Case_Remarks, new { @class = "textinput1", @readonly = "readonly", requiredInput = "请输入备注", maxlength = "200" })<i></i></li>
    </ul>
</div>