@using CommonService.Model.FlowManager;
@using CommonService.Common;
@model IEnumerable<CommonService.Model.FlowManager.P_Business_flow>
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>案件执行</title>
    <link href="/theme/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/theme/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/theme/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/theme/js/basedialog.js"></script>
    <script type="text/javascript" src="/theme/js/alertMsg.js"></script>
    <script type="text/javascript" src="/theme/js/alertDialog.js"></script>
    <script type="text/javascript" src="/theme/js/ajaxdone.js"></script>
    <style type="text/css">
        .leftcontent {
            width: 30%;
            border: dotted 1px #c7c7c7;
            min-height: 745px;
        }

        .rightcontent {
            width: 69%;
        }

        .case_info_table tr {
            border-bottom: dotted 1px #c7c7c7;
        }

            .case_info_table tr.nobottomborder {
                border-bottom: 0px;
            }

        .case_info_table td {
            line-height: 50px;
            text-indent: 12px;
        }

        .right_top {
        }

        .flow_nav {
            margin-left: 10px;
        }

            .flow_nav span {
                height: 36px;
                line-height: 36px;
                font-size: 14px;
            }

                .flow_nav span.start {
                    width: 20px;
                    display: inline-block;
                }

                .flow_nav span.middle {
                    padding-left: 10px;
                    padding-right: 10px;
                    display: inline-block;
                    color: #fff;
                }

                .flow_nav span.end {
                    width: 20px;
                    display: inline-block;
                }
        /*未开始*/
        .grey_start {
            background: url(../../theme/images/flow/grey_start.png) no-repeat;
        }

        .grey_body {
            background: url(../../theme/images/flow/grey_body.png) repeat-x;
        }

        .grey_end {
            background: url(../../theme/images/flow/grey_end.png) no-repeat;
        }

        .grey_end_grey_start {
            background: url(../../theme/images/flow/grey_end_grey_start.png) no-repeat;
        }

        .grey_end_yellow_start {
            background: url(../../theme/images/flow/grey_end_yellow_start.png) no-repeat;
        }

        .grey_end_blue_start {
            background: url(../../theme/images/flow/grey_end_blue_start.png) no-repeat;
        }

        /*进行中*/
        .yellow_start {
            background: url(../../theme/images/flow/yellow_start.png) no-repeat;
        }

        .yellow_body {
            background: url(../../theme/images/flow/yellow_body.png) repeat-x;
        }

        .yellow_end {
            background: url(../../theme/images/flow/yellow_end.png) no-repeat;
        }

        .yellow_end_grey_start {
            background: url(../../theme/images/flow/yellow_end_grey_start.png) no-repeat;
        }

        .yellow_end_yellow_start {
            background: url(../../theme/images/flow/yellow_end_yellow_start.png) no-repeat;
        }

        .yellow_end_blue_start {
            background: url(../../theme/images/flow/yellow_end_blue_start.png) no-repeat;
        }

        /*已完成*/
        .blue_start {
            background: url(../../theme/images/flow/blue_start.png) no-repeat;
        }

        .blue_body {
            background: url(../../theme/images/flow/blue_body.png) repeat-x;
        }

        .blue_end {
            background: url(../../theme/images/flow/blue_end.png) no-repeat;
        }

        .blue_end_grey_start {
            background: url(../../theme/images/flow/blue_end_grey_start.png) no-repeat;
        }

        .blue_end_yellow_start {
            background: url(../../theme/images/flow/blue_end_yellow_start.png) no-repeat;
        }

        .blue_end_blue_start {
            background: url(../../theme/images/flow/blue_end_blue_start.png) no-repeat;
        }

        .flowNodeSpace {
            margin-bottom: 6px;
        }

        .right_bottom {
            height: 680px;
        }

        a {
            color: blue;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //切换子业务流程
            $flow_nav = $('.flow_nav');
            $("span.cursor", $flow_nav).each(function () {
                $(this).click(function (event) {
                    var $this = $(this);
                    var $childrenBusinessFlow = $('#iframe_childreBusinessFlow');
                    var baseurl = $childrenBusinessFlow.attr('baseurl');
                    //替换url参数
                    var switchUrl = baseurl.replace("{sid_Iterm}", $this.attr('businessflowcode'));
                    $childrenBusinessFlow.attr('src', switchUrl);
                });
            });
        });
        //打开自定义表单
        function openOwnDefineForm(businessFlowCode, pkCode, fkType, isAllowOpenCustomerForm, isAllowUserOpenFormsPower) {
            if (isAllowOpenCustomerForm == '0') {
                alertMsg.info('只有进行中或已结束的业务流程</br>才可以打开表单！');
                return;
            }
            if (isAllowUserOpenFormsPower == '0') {
                alertMsg.info('您没有打开表单的权限！');
                return;
            }
            //替换url参数
            var switchUrl = "/customerform/formpropertyvalue/layoutroottabs?businessFlowCode=" + businessFlowCode + "&pkCode=" + pkCode + "&fkType=" + fkType;
            _openDialog('业务流程表单', switchUrl, 1300, 780);
        }

        $(function () {
            $("a[target=popdialog_owndefine]").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
        })
    </script>
</head>
<body>
    @{
        CommonService.Model.CaseManager.B_Case bCase = ViewBag.Case;
        string fkCode = ViewBag.FkCode;
        int fkType = ViewBag.FkType;
    }
    <div class="rightinfo">
   
                <div class="right_bottom"><iframe name="iframe_childreBusinessFlow" id="iframe_childreBusinessFlow" width="100%" height="100%" frameborder="0" baseurl="/flowmanager/businessflow/pkrelationbusinessflowlist2?pkCode=@fkCode&businessFlowCode={sid_Iterm}&fkType=@fkType" src="/flowmanager/businessflow/pkrelationbusinessflowlist2?pkCode=@fkCode&businessFlowCode=&fkType=@fkType" scrolling="auto"></iframe></div>
         
            <div class="clear"></div>
       
    </div>
</body>
</html>

