@using CommonService.Model.SysManager;
@model IEnumerable<CommonService.Model.SysManager.C_Menu_buttons>
@{
    Layout = "~/Views/Shared/_NoPageListTemplate.cshtml";//无分页列表页面固定模板
}
@{
    ViewBag.Title = "菜单按钮列表";
}
<table class="tablelist">
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Menu_buttons_id">
                <td>@item.C_Menu_buttons_name</td>
            </tr>
        }
    </tbody>
</table>