@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "消息详细";
}
@section HeadCss{
    <style type="text/css">
        .message_title {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background: #f00;
            color: white;
        }
    </style>
}
<div class="itab">
    <ul>
        <li><a href="/basedata/message/CaseTabDetails?messageBigType=426" tabpanelwidth="100%" tabpanelheight="600" class="selected">案件消息<font id="mesg_bigclass_426" class="message_title">0</font></a></li>
        <li><a href="/basedata/message/CaseTabDetails?messageBigType=427" tabpanelwidth="100%" tabpanelheight="600">商机消息<font id="mesg_bigclass_427" class="message_title">0</font></a></li>
        <li><a href="/basedata/message/CaseTabDetails?messageBigType=428" tabpanelwidth="100%" tabpanelheight="600">客户消息<font id="mesg_bigclass_428" class="message_title">0</font></a></li>
        <li><a href="/basedata/message/CaseTabDetails?messageBigType=765" tabpanelwidth="100%" tabpanelheight="600">进程消息<font id="mesg_bigclass_765" class="message_title">0</font></a></li>
        <li><a href="/basedata/message/CaseTabDetails?messageBigType=810" tabpanelwidth="100%" tabpanelheight="600">财务消息<font id="mesg_bigclass_810" class="message_title">0</font></a></li>
    </ul>
</div>
<script>
    $(document).ready(function () {   
        SetLine(426, 'mesg_bigclass_426');
        SetLine(427, 'mesg_bigclass_427');
        SetLine(428, 'mesg_bigclass_428');
        SetLine(765, 'mesg_bigclass_765');
        SetLine(810, 'mesg_bigclass_810');
    });
    //处理默认打开时，第一个有消息的tab页签默认打开
    var isHasOpen = 0;
    function SetLine(typeID, SetID) {
        $.ajax({
            type: "POST",
            async: false,
            url: "/basedata/message/viewlist_ByCount?messageBigType="+typeID,
            success: function (result) {
                if (result == "0") {
                    $("#" + SetID).html("");
                } else {
                    if (isHasOpen == 0) {
                        $("#" + SetID).click();
                        isHasOpen = 1;
                    }
                    $("#" + SetID).html("" + result + "");
                }
            }
        });
    }
</script>