@model CommonService.Model.SysManager.C_Role_case_type
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "角色案件类型";
}
@{
    List<CommonService.Model.C_Parameters> Casetype = ViewBag.Case_type;
}

<li class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "role_case_type", FormMethod.Post, new { id = "formRoles", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("C_Roles_id", Model.C_Roles_id)
            <li><label>案件类型</label>
                @{
                IList<SelectListItem> casetypeTypeItems = new List<SelectListItem>();
                foreach (var casetypeType in Casetype)
                {
                    SelectListItem selectItem = new SelectListItem();
                    selectItem.Value = casetypeType.C_Parameters_id.ToString();
                    selectItem.Text = casetypeType.C_Parameters_name;

                    casetypeTypeItems.Add(selectItem);
                }
                }
                @Html.DropDownList("C_Parameters_id", casetypeTypeItems, new {@class="dfselect", requiredInput = "请选择案件类型" })<i></i></li>
            <li><label>&nbsp;</label><input name="" type="button" onclick="javascript: $(this).parents('form').submit();" class="btn" value="确认保存" /><i></i></li>
        }
    </ul>
</div>