@using CommonService.Model.SysManager;
@using Context;
@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "客户信息";
}
@{
    List<C_Role_button> RoleButtons = ViewBag.RoleButtons;//按钮权限
}
<div class="itab">
    <ul>
        @if (UIContext.Current.IsPreSetManager)
        {
            <li><a href="/basedata/customer/UpdateCustomerTableDetails?customerCode=@ViewBag.CustomerCode" tabpanelwidth="100%" tabpanelheight="650" class="selected">客户信息</a></li>
            <li><a href="/basedata/client/rellist?customerCode=@ViewBag.CustomerCode" tabpanelwidth="100%" tabpanelheight="650">委托信息</a></li>
            <li><a href="/CaseManager/case/ListLink?customerCode=@ViewBag.customerCode&type=1" tabpanelwidth="100%" tabpanelheight="850">关联案件</a></li>
            <li><a href="/BusinessChanceManager/BusinessChance/ListLink?customerCode=@ViewBag.customerCode&type=2" tabpanelwidth="100%" tabpanelheight="850">关联商机</a></li>
            <li><a href="/basedata/customer_Follow/list?customerCode=@ViewBag.customerCode" tabpanelwidth="100%" tabpanelheight="850">客户跟进记录</a></li>
        }
        else
        {
            <li><a href="/basedata/customer/UpdateCustomerTableDetails?customerCode=@ViewBag.CustomerCode" tabpanelwidth="100%" tabpanelheight="650" class="selected">客户信息</a></li>
            //if (RoleButtons.Where(r => r.C_Menu_buttons_id == 31).Count() != 0)
            //{
            <li><a href="/basedata/client/rellist?customerCode=@ViewBag.CustomerCode" tabpanelwidth="100%" tabpanelheight="650">委托信息</a></li>
            @*}*@
            //if (RoleButtons.Where(r => r.C_Menu_buttons_id == 29).Count() != 0)
            //{
            <li><a href="/CaseManager/case/ListLink?customerCode=@ViewBag.customerCode&type=1" tabpanelwidth="100%" tabpanelheight="850">关联案件</a></li>
            <li><a href="/BusinessChanceManager/BusinessChance/ListLink?customerCode=@ViewBag.customerCode&type=2" tabpanelwidth="100%" tabpanelheight="850">关联商机</a></li>
            @*}
                if (RoleButtons.Where(r => r.C_Menu_buttons_id == 1127).Count() != 0)
                {*@
            <li><a href="/basedata/customer_Follow/list?customerCode=@ViewBag.customerCode" tabpanelwidth="100%" tabpanelheight="850">客户跟进记录</a></li>
            @*}*@
        }
    </ul>
</div>