@model CommonService.Model.SysManager.C_Group
@{
    Layout = "~/Views/Shared/_TreeTemplate.cshtml";//树形结构固定模板
}
@{
    ViewBag.Title = "分组树";
}
@{
    int sourceType = ViewBag.SourceType;
    string frametype = String.Empty;
    string target = String.Empty;
    switch (sourceType)
    {
        case 1:
            frametype = "frameset";
            target = "rightContentFrame";
            break;
    }
}
<div class="treeinfo" frametype="@frametype" target="@target">
    <div style="height: 35px; text-align: center; margin: 10px; border-bottom: solid 1px #d0dee5; ">
        <b class="fontsize14">分组结构</b>
    </div>
    <div class="tree">
        @Html.Raw(ViewBag.SingleGroupTreeHtml)
    </div>
</div>