@{
    Layout = "~/Views/Shared/_TreeMulityListIframeTemplate.cshtml";//一棵树多个列表Iframe页面固定模板
}
@section HeadCss{
    <style type="text/css">
        body {
            min-width: 100%;
        }
        .toolbar{
            float:right;
        }
    </style>    
}
@section HeadScript{
    <script type="text/javascript">
        $(function () {
            var $iframe_tree_tool = $(".iframe_tree_tool>.tools>.toolbar");
            $("a[target=ajaxtodo_Custom]", $iframe_tree_tool).each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //点击了操作按钮
                    var singleoperate = $this.attr("singleoperate");
                    if (!singleoperate) {
                        return;
                    }

                    var iframeList = window.frames["iframe_userRegionOrgPost"].commonListData.uniqueId;
                    if (iframeList == '') {
                        alertMsg.warn('请选中左侧信息！');
                        return;
                    }
                    var iframeTree = window.frames["iframe_tree"].commonTreeData.uniqueId;
                    if (iframeTree == '')
                    {
                        alertMsg.warn('请选中右侧组织架构！');
                        return;
                    }

                    var switchUrl = $this.attr("href").replace("{Organization_post_user}", iframeList);//替换Guid参数
                    switchUrl = switchUrl.replace("{organizationCode}", iframeTree);//替换组织架构Guid参数

                    alertMsg.confirm($this.attr('title'), {
                        okCall: function () {
                            $.ajax({
                                type: 'POST',
                                url: switchUrl,
                                data: null,
                                dataType: "json",
                                cache: false,
                                success: navAjaxDone,
                                error: function () {
                                    alert('网络错误，请稍后再试!');
                                }
                            });
                        }
                    });                    
                });
            });
        })
    </script>    
}
@{
    string userinfoCode = ViewBag.userinfoCode;
}
<div class="iframe_tree_tool">
    <div class="tools">
        <ul class="toolbar">
            <li><a target="ajaxtodo_Custom" title="确认要调整部门吗?" singleoperate="singleoperate" edit="edit" href="/SysManager/userinfo/SectorAdjustment?Organization_post_user={Organization_post_user}&organizationCode={organizationCode}"><span><img src="/theme/images/new_ok.png" /></span>确定</a></li>
        </ul>
    </div>
</div>
<table class="table_tree_mulitylist">
    <tr>
        <td class="rightborder" width="350" height="400">
            <table class="table_noborder" height="100%">
                <tr class="bottomborder">
                    <td height="52" align="center"><b class="fontsize14">用户所属(区域 -> 部门 -> 岗位)</b></td>
                </tr>
                <tr>
                    <td height="100%"><iframe name="iframe_userRegionOrgPost" width="100%" height="100%" frameborder="0" baseurl="/SysManager/userinfo/GetUserRegionOrgPost?userinfoCode=@userinfoCode" src="/SysManager/userinfo/GetUserRegionOrgPost?userinfoCode=@userinfoCode" scrolling="auto"></iframe></td>
                </tr>
            </table>
        </td>
        <td class="rightborder" width="350" height="400">
            <table class="table_noborder" height="100%">
                @*<tr class="bottomborder">
                    <td height="44" align="center"><b class="fontsize14">组织架构</b></td>
                </tr>*@
                <tr>
                    <td height="100%"><iframe name="iframe_tree" width="100%" height="100%" frameborder="0" src="/sysmanager/organization/tree?sourceType=2" scrolling="auto"></iframe></td>
                </tr>
            </table>
        </td>
        @*<td class="rightborder" width="10%">
            <table class="table_noborder" height="100%">
                <tr>
                    <td align="center">
                        <div businessflowoperatetoolbar="businessflowoperatetoolbar">
                            @if (UIContext.Current.IsPreSetManager)
                            {
                                <span><a class="enter" target="ajaxtodo" title="确认要右移左侧办案阶段选中表单吗?" iframename="iframe_flowForm" singleoperate="singleoperate" href="/flowmanager/businessflowform/addbusinessflowform?businessFlowCode={businessFlowCode}&formCode={sid_Iterm}&isDefault={isDefault}&type=1">>></a></span>
                                <span><a class="enter" target="ajaxtodo" title="确认要上移已选中配置表单吗?" iframename="iframe_businessFlowForm" singleoperate="singleoperate" href="/flowmanager/businessflowform/moveforward?businessFlowCode={businessFlowCode}&businessFlowFormCode={sid_Iterm}">上移</a></span>
                                <span><a class="enter" target="ajaxtodo" title="确认要下移已选中配置表单吗?" iframename="iframe_businessFlowForm" singleoperate="singleoperate" href="/flowmanager/businessflowform/movebackward?businessFlowCode={businessFlowCode}&businessFlowFormCode={sid_Iterm}">下移</a></span>
                                <span><a class="enter" target="ajaxtodo" title="确认要删除已选中配置表单吗?" iframename="iframe_businessFlowForm" mulityoperate="mulityoperate" href="/flowmanager/businessflowform/deletebusinessflowform?businessFlowFormCode={sid_Iterm}&type=1">删除</a></span>
                                <span><a class="enter" target="popdialog_Custom" title="批量设定" dialogwidth="1100" dialogheight="650" edit="edit" mulityoperate="mulityoperate" iframename="iframe_businessFlowForm" href="/flowmanager/plansetup/Operatecreate?businessFlowCode={businessFlowCode}&businessFlowFormCodes={sid_Iterm}&type=1">计划设定</a></span>
                            }
                            else
                            {
                                if (roleRolePowers.Where(p => p.C_Role_Power_id == 14).Count() != 0)
                                {
                                    <span><a class="enter" target="ajaxtodo" title="确认要右移左侧办案阶段选中表单吗?" iframename="iframe_flowForm" singleoperate="singleoperate" href="/flowmanager/businessflowform/addbusinessflowform?businessFlowCode={businessFlowCode}&formCode={sid_Iterm}&isDefault={isDefault}&type=1">>></a></span>
                                    <span><a class="enter" target="ajaxtodo" title="确认要上移已选中配置表单吗?" iframename="iframe_businessFlowForm" singleoperate="singleoperate" href="/flowmanager/businessflowform/moveforward?businessFlowCode={businessFlowCode}&businessFlowFormCode={sid_Iterm}">上移</a></span>
                                    <span><a class="enter" target="ajaxtodo" title="确认要下移已选中配置表单吗?" iframename="iframe_businessFlowForm" singleoperate="singleoperate" href="/flowmanager/businessflowform/movebackward?businessFlowCode={businessFlowCode}&businessFlowFormCode={sid_Iterm}">下移</a></span>
                                    <span><a class="enter" target="ajaxtodo" title="确认要删除已选中配置表单吗?" iframename="iframe_businessFlowForm" mulityoperate="mulityoperate" href="/flowmanager/businessflowform/deletebusinessflowform?businessFlowFormCode={sid_Iterm}&type=1">删除</a></span>
                                    <span><a class="enter" target="popdialog_Custom" title="批量设定" dialogwidth="1100" dialogheight="650" edit="edit" mulityoperate="mulityoperate" iframename="iframe_businessFlowForm" href="/flowmanager/plansetup/Operatecreate?businessFlowCode={businessFlowCode}&businessFlowFormCodes={sid_Iterm}&type=1">计划设定</a></span>
                                }
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </td>*@
    </tr>
</table>
