
@{
    Layout = null;
}

<div class="space10">
</div>
<h3>热门知识</h3>
<div class="row">
    <div class="col-md-3">
        <div class="news-blocks">
            <h3>
                <a href="page_news_item.html">
                    Google Glass Technology..
                </a>
            </h3>
            <div class="news-block-tags">
                <strong>Berlin, Germany</strong>
                <em>6 hours ago</em>
            </div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="page_news_item.html" class="news-block-btn">
                Read more <i class="m-icon-swapright m-icon-black"></i>
            </a>
        </div>
    </div>
    <!--end col-md-3-->
    <div class="col-md-3">
        <div class="news-blocks">
            <h3>
                <a href="page_news_item.html">
                    Google Glass Technology..
                </a>
            </h3>
            <div class="news-block-tags">
                <strong>CA, USA</strong>
                <em>3 hours ago</em>
            </div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="page_news_item.html" class="news-block-btn">
                Read more <i class="m-icon-swapright m-icon-black"></i>
            </a>
        </div>
    </div>
    <!--end col-md-3-->
    <div class="col-md-3">
        <div class="news-blocks">
            <h3>
                <a href="page_news_item.html">
                    Google Glass Technology..
                </a>
            </h3>
            <div class="news-block-tags">
                <strong>CA, USA</strong>
                <em>3 hours ago</em>
            </div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="page_news_item.html" class="news-block-btn">
                Read more <i class="m-icon-swapright m-icon-black"></i>
            </a>
        </div>
    </div>
    <!--end col-md-3-->
    <div class="col-md-3">
        <div class="portlet sale-summary">
            <div class="portlet-title">
                <div class="caption">
                    热们标签
                </div>
            </div>
            <div class="portlet-body">
                <a class="btn btn-link">律师</a>
                <a class="btn btn-link">案件</a>
            </div>
        </div>
    </div>
    <!--end col-md-3-->
</div>
<div class="space10">
</div>
<h3>热门视频</h3>
<div class="row">
    <div class="col-md-3">
        <div class="news-blocks">
            <h3>
                <a href="page_news_item.html">
                    Google Glass Technology..
                </a>
            </h3>
            <div class="news-block-tags">
                <strong>Berlin, Germany</strong>
                <em>6 hours ago</em>
            </div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="page_news_item.html" class="news-block-btn">
                Read more <i class="m-icon-swapright m-icon-black"></i>
            </a>
        </div>
    </div>
    <!--end col-md-3-->
    <div class="col-md-3">
        <div class="news-blocks">
            <h3>
                <a href="page_news_item.html">
                    Google Glass Technology..
                </a>
            </h3>
            <div class="news-block-tags">
                <strong>CA, USA</strong>
                <em>3 hours ago</em>
            </div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="page_news_item.html" class="news-block-btn">
                Read more <i class="m-icon-swapright m-icon-black"></i>
            </a>
        </div>
    </div>
    <!--end col-md-3-->
    <div class="col-md-3">
        <div class="news-blocks">
            <h3>
                <a href="page_news_item.html">
                    Google Glass Technology..
                </a>
            </h3>
            <div class="news-block-tags">
                <strong>CA, USA</strong>
                <em>3 hours ago</em>
            </div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="page_news_item.html" class="news-block-btn">
                Read more <i class="m-icon-swapright m-icon-black"></i>
            </a>
        </div>
    </div>
    <!--end col-md-3-->
    <div class="col-md-3">
        <div class="portlet sale-summary">
            <div class="portlet-title">
                <div class="caption">
                    热搜排行榜
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-unstyled" style=" line-height:30px;">
                    <li>
                        <span class="sale-info">
                            <a href="#">TODAY SOLD </a><i class="fa fa-img-up"></i>
                        </span>
                        <span class="sale-num">
                            23
                        </span>
                    </li>
                    <li>
                        <span class="sale-info">
                            <a href="#">TODAY SOLD </a> <i class="fa fa-img-down"></i>
                        </span>
                        <span class="sale-num">
                            87
                        </span>
                    </li>
                    <li>
                        <span class="sale-info">
                            <a href="#">TODAY SOLD </a>
                        </span>
                        <span class="sale-num">
                            2377
                        </span>
                    </li>
                    <li>
                        <span class="sale-info">
                            <a href="#">TODAY SOLD </a>
                        </span>
                        <span class="sale-num">
                            3000
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end col-md-3-->
</div>
