@{
    Layout = "~/Views/Shared/_KMSLayout.cshtml";//KMS母版页
}

<div class="row">
    <div class="col-md-12 news-page">
        <div class="row">
            <div class="col-md-3">
                <ul class="ver-inline-menu tabbable margin-bottom-10">
                    <li class="active">
                        <a data-toggle="tab" href="#tab_1">
                            <i class="fa fa-briefcase"></i> 通用
                        </a>
                        <span class="after">
                        </span>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab_2">
                            <i class="fa fa-group"></i> 文学
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab_3">
                            <i class="fa fa-leaf"></i> 历史
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab_1">
                            <i class="fa fa-info-circle"></i> 言情
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab_2">
                            <i class="fa fa-tint"></i> 恐怖
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab_3">
                            <i class="fa fa-plus"></i> LOL
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="你想要的？">
                    <span class="input-group-btn">
                        <button class="btn blue" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="clearfix margin-top-10">
                    <span class="label label-success">
                        提示:
                    </span>
                    &nbsp; 请按照中文 <code>关键词</code> 来进行搜索！
                </div>
                <div class="margin-top-20"><p>共找到<font style=" color:red">“你想要的？”</font> 相关的文档22结果。</p></div>
            </div>
            <div class="col-md-3">
                <h3>知识库</h3>
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="">
                            <div class="stat-number">
                                <div class="profile-stat-text">
                                    11
                                </div>
                                <div class="profile-desc-title">
                                    文档
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="">
                            <div class="stat-number">
                                <div class="profile-stat-text">
                                    22
                                </div>
                                <div class="profile-desc-title">
                                    视频
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div><a class="btn btn-warning">我要上传资源<i class="fa fa-plus"></i></a></div>
            </div>
        </div>
        <div class="col-md-9 col-sm-8 article-block">
            <div class="row">
                <div class="col-md-4 blog-img blog-tag-data">

                </div>

                <div class="col-md-8 blog-article">
                    <h3>
                        <a href="page_blog_item.html">
                            Hello here will be some recent news..
                        </a>
                    </h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    </p>
                    <a class="btn blue" href="page_blog_item.html">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-img blog-tag-data">

                </div>

                <div class="col-md-8 blog-article">
                    <h3>
                        <a href="page_blog_item.html">
                            Hello here will be some recent news..
                        </a>
                    </h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    </p>
                    <a class="btn blue" href="page_blog_item.html">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-img blog-tag-data">

                </div>
                <div class="col-md-8 blog-article">
                    <h3>
                        <a href="page_blog_item.html">
                            Hello here will be some recent news..
                        </a>
                    </h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    </p>
                    <a class="btn blue" href="page_blog_item.html">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-img blog-tag-data">

                </div>
                <div class="col-md-8 blog-article">
                    <h3>
                        <a href="page_blog_item.html">
                            Hello here will be some recent news..
                        </a>
                    </h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    </p>
                    <a class="btn blue" href="page_blog_item.html">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 blog-img blog-tag-data">
                   
                </div>
                <div class="col-md-8 blog-article">
                    <h3>
                        <a href="page_blog_item.html">
                            Hello here will be some recent news..
                        </a>
                    </h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    </p>
                    <a class="btn blue" href="page_blog_item.html">
                        Read more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

