@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "客户详细";
}
<div class="itab">
    <ul>
        <li><a href="/basedata/principal/details?principalCode=@ViewBag.principalCode" tabpanelwidth="100%" tabpanelheight="650" class="selected">委托信息</a></li>
        <li><a href="/basedata/customer/viewlist?clientCode=@ViewBag.principalCode" tabpanelwidth="100%" tabpanelheight="650">客户信息</a></li>
        @*<li><a href="/CaseManager/case/ListLink?customerCode=@ViewBag.principalCode&type=3" tabpanelwidth="100%" tabpanelheight="850">关联案件</a></li>
        <li><a href="/BusinessChanceManager/BusinessChance/ListLink?customerCode=@ViewBag.principalCode&type=3" tabpanelwidth="100%" tabpanelheight="850">关联商机</a></li>*@

    </ul>
</div>