@{
    Layout = null;
}
<!-- BEGIN PAGE HEADER-->
@{Html.RenderAction("ReportingContentPageHead");}
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green-meadow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>案件报表
                </div>

            </div>
            <div class="portlet-body">
                <div id="loan_search" class="row">
                    @Html.Hidden("isExecutedSearch", "0")
                    

                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="btn-group pull-left">
                                    <div class="btn-group">
                                        <button type="button" class="btn green" onclick="downExl()">导出</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-bottom:8px">
                                <button type="button" class="btn green" onclick="TbService()"><span id="tbmsg">同步数据</span></button>
                            </div>
                    </div>
   
                  
                  
                  
                        </div>
                  
                </div>
                <table class="table table-striped table-bordered table-hover" id="loanList">


                    <thead>
                       
                        <tr>

                          
                            <th>接案年份</th>
                            <th>接案月份</th>
                            <th>地区</th>
                            <th>接案总数</th>
                            <th>类型案件数量</th>
                            <th>非类型案件数量</th>
                            <th>客户总数</th>
                            <th>新客户数量</th>
                            <th>老客户数量</th>
                            <th>移交总标的</th>

                            <th>类型移交标的</th>
                            <th>非类型移交标的</th>
                            <th>预期总收益</th>
                            <th>类型预期收益</th>
                            <th>非类型预期收益</th>



                            <th>本月计划接案数</th>
                            <th>完成率</th>
                            <th>下月计划接案数</th>
                            <th>本月计划预期收益</th>

                            <th>完成率</th>
                            <th>下月计划预期收益</th>
                          

                        </tr>
                    </thead>
                    <tbody>
                        <!--数据行在这里-->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
<!-- END PAGE CONTENT-->
<script type="text/javascript" src="/theme/oajs/bar.js"></script>
<!-- BEGIN MAIN JS -->
<script>


    var defaultColumns = [
         { "sName": "R_AreaCase_Reporting_year" },
         { "sName": "R_AreaCase_Reporting_month" },
         { "sName": "R_AreaCase_Reporting_area" },
         { "sName": "R_AreaCase_Reporting_allCount" },
         { "sName": "R_AreaCase_Reporting_typeCount" },
         { "sName": "R_AreaCase_Reporting_unTypeCount" },
         { "sName": "R_AreaCase_Reporting_customerCount" },
         { "sName": "R_AreaCase_Reporting_newCustomer" },
         { "sName": "R_AreaCase_Reporting_oldCustomer" },
         { "sName": "R_AreaCase_Reporting_transferTarget" },
         { "sName": "R_AreaCase_Reporting_typeTransferTarget" },
         { "sName": "R_AreaCase_Reporting_unTypeTransferTarget" },
         { "sName": "R_AreaCase_Reporting_expectedReturn" },
         { "sName": "R_AreaCase_Reporting_typeExpectedReturn" },
         { "sName": "R_AreaCase_Reporting_unTypeExpectedReturn" },
         { "sName": "R_AreaCase_Reporting_monthCount" },
         { "sName": "R_AreaCase_Reporting_cCompletion" },
         { "sName": "R_AreaCase_Reporting_nextMonthCount" },
         { "sName": "R_AreaCase_Reporting_monthExpected" },
         { "sName": "R_AreaCase_Reporting_eCompletion" },
         { "sName": "R_AreaCase_Reporting_nextMonthExpected" },
       


    ];//table 默认列扩展
    var submitUrl = '/Reporting/R_AreaCase_Reporting/ajaxlist';//数据获取地址
    TableManaged.init('loanList', "loan_search", defaultColumns, submitUrl);//用table id,table search id,默认列 初始化table对象
    
    function TbService() {
        if ($("#tbmsg").text() != "同步数据") {
            alert("数据同步中，请勿重复点击...");
            return;
        }

        $("#tbmsg").text("同步中...");

        $.ajax({
            type: 'POST',
            url: "/Reporting/R_AreaCase_Reporting/TbService",
            cache: false,
            success: function (result) {
                alert(result);
                $("#tbmsg").text("同步数据");
            }
        });
    }
    
    function downExl() {
        window.location.href = '/Reporting/R_AreaCase_Reporting/Export';
       
    }
</script>
<!-- END MAIN JS -->