@model CommonService.Model.SysManager.C_Organization
@{
    Layout = "~/Views/Shared/_TreeTemplate.cshtml";//树形结构固定模板
}
@{
    ViewBag.Title = "组织机构树";
}

<div class="treeinfo" frametype="" target="">
    <div style="height: 35px; text-align: center; margin: 10px; border-bottom: solid 1px #d0dee5; ">
        <b class="fontsize14">组织架构</b>
    </div>
    <div class="tree">
        @Html.Raw(ViewBag.SingleOrganizationTreeHtml)
    </div>
</div>