<ul>
    <li>
      <a href="#">中国建设银行</a>
      <ul>
        <li><a href="#">建设银行北京分行</a></li>
        <li><a href="#">建设银行上海分行</a></li>
        <li><a href="#">建设银行太原分行</a></li>
      </ul>
    </li>
</ul>