@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <script>
       function ChangeState()
       {
           if (parent.document.getElementById("tfs").rows == "0,7,*") {
               parent.document.getElementById("tfs").rows = "88,7,*";

           } else {
               parent.document.getElementById("tfs").rows = "0,7,*";
           }
       }
   </script>
</head>
<body style="margin:0;height:7px;width:100%;background:#00ffff" onclick="ChangeState();">
</body>
</html>
