@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "对手信息";
}
<div class="itab">
    <ul>
        <li><a href="/basedata/crival/list" tabpanelwidth="100%" tabpanelheight="800" class="selected">公司</a></li>
        <li><a href="/basedata/prival/list" tabpanelwidth="100%" tabpanelheight="800">个人</a></li>
    </ul>
</div>
