@using CommonService.Common;
@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "个人配偶详细";
}
<div class="itab">
    <ul>
        <li><a href="/basedata/Spouse/Details?prival_code=@ViewBag.PRival_code" tabpanelwidth="100%" tabpanelheight="500" class="selected">配偶基本信息</a></li>
        <li><a href="/basedata/PRival_education/viewlist?prival_code=@ViewBag.PRival_code" tabpanelwidth="100%" tabpanelheight="500">配偶教育背景</a></li>
        <li><a href="/basedata/PRival_experience/viewlist?prival_code=@ViewBag.PRival_code" tabpanelwidth="100%" tabpanelheight="500">配偶工作经历</a></li>
        <li><a href="/basedata/Property_trail/PropertyTabDetails?crival_code=@ViewBag.PRival_code&property_trail_type=112" tabpanelwidth="100%" tabpanelheight="500">配偶财产状况</a></li>
        <li><a href="/attachmentupload/attachmentlist?relationCode=@ViewBag.PRival_code&targetDirectory=@BaseEnumHelper.GetUploadAttachmentFolder(FileBelongTypeEnum.配偶)&fileBelongType=@Convert.ToInt32(FileBelongTypeEnum.配偶)" tabpanelwidth="100%" tabpanelheight="700">配偶附件信息</a></li>
    </ul>
</div>
