<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="/theme/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/theme/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/theme/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/theme/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/theme/js/basedialog.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.dialogextend.1_0_1.js"></script>
    <script type="text/javascript" src="/theme/js/alertDialog.js"></script>
    <script type="text/javascript" src="/theme/js/alertMsg.js"></script>
    <script type="text/javascript" src="/theme/js/basecommonlist.js"></script>
    <script type="text/javascript" src="/theme/js/tablelist.js"></script>
    <script type="text/javascript" src="/theme/js/ajaxdone.js"></script>
    @*<script type="text/javascript" src="/theme/js/businesscommonlist.js"></script>*@
    @RenderSection("HeadCss", false)
    @RenderSection("HeadScript", false)
    <style type="text/css">
        /*
         * 重置CSS
         **/
        body {min-width: 0px;}
        .rightinfo {padding: 0px;}
        .tablelist {border: 0px;}
        .tablelist td {border-right: 0px;}
    </style>
</head>
<body>
    <div class="rightinfo">
        @RenderBody()
    </div>
</body>
</html>
