@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "涉案项目详细";
}
<div class="itab">
    <ul>
        <li><a href="/basedata/Involved_project/TabDetails?Involved_project_code=@ViewBag.Involved_project_code" tabpanelwidth="100%" tabpanelheight="800" class="selected">项目信息</a></li>
        
        <li><a href="/CaseManager/case/ListLink?customerCode=@ViewBag.Involved_project_code&type=6" tabpanelwidth=" 100%" tabpanelheight="900">关联案件</a></li>
        <li><a href="/BusinessChanceManager/BusinessChance/ListLink?customerCode=@ViewBag.Involved_project_code&type=6" tabpanelwidth="100%" tabpanelheight="850">关联商机</a></li>
    </ul>
</div>
