@{
    Layout = null;
}
@{
    List<CommonService.Model.C_Parameters> ArticleStates = ViewBag.ArticleStates;
}
<!-- BEGIN PAGE HEADER-->
@{Html.RenderAction("OAContentPageHead");}
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green-meadow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>通知公告
                </div>
                <div class="list_tool_dialog_toolbar actions">             
                    <a class="btn btn-primary btn-sm ajaxify" href="/oa/article/create">
                        <i class="fa fa-pencil"></i> 新增
                    </a>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-cogs"></i> 工具栏 <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            @*<li>
                                    <a href="/oa/article/edit?articleCode={sid_Iterm}" operatetargettype="popdialog" operatetargetid="baseLargeModal" relationid="a_edit" nodatatip="请选中信息！" edit="edit">
                                        <i class="fa fa-pencil"></i> 修改
                                    </a>
                                </li>*@
                            <li>
                                <a href="/oa/article/delete?articleCode={sid_Iterm}" operatetargettype="ajaxtodo" singleoperate="singleoperate" nodatatip="请选中信息！" confirmtip="确认要删除所选数据吗？">
                                    <i class="fa fa-trash-o"></i> 删除
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="articleList_search" class="row">
                    @Html.Hidden("isExecutedSearch", "0")
                    <div class="col-md-12">
                        <div class="col-md-7"></div>
                        <div class="col-md-2">
                            <div class="form-group">
                                标题：<input name="s_title" id="s_title" type="text" class="form-control input-small input-inline">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                状态：
                                <select id="i_state" name="i_state" class="table-group-action-input form-control input-inline input-small">
                                    <option value="-1">请选择...</option>
                                    @foreach (var articleState in ArticleStates)
                                    {
                                        <option value="@articleState.C_Parameters_id">@articleState.C_Parameters_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group pull-right">
                                <div class="btn-group">
                                    <button class="btn green" onclick="executeSearch('articleList', 'articleList_search')">
                                        查询<i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="articleList">
                    <thead>
                        <tr>
                            <th>公告Guid</th>
                            <th>通知公告标题</th>
                            <th>发布人</th>
                            <th>发布时间</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--数据行在这里-->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
<!-- BEGIN MAIN JS -->
<!--列表工具栏按钮处理js-->
<script type="text/javascript" src="/theme/oajs/bar.js"></script>
<script>
    var defaultColumns = [
         { "sName": "O_Article_code", "bVisible": false },
         { "sName": "O_Article_title", "render": function (data, type, full) { if (data.length > 40) { data = data.substring(0, 40) + "..." } return "<a href='' style='color:#5b9bd1' class='ajaxify'>" + data + "</a>"; } },
         { "sName": "O_Article_publisher_name" },
         { "sName": "O_Article_publishTime" },
         { "sName": "O_Article_state_name" }
    ];//table 默认列扩展
    var submitUrl = '/oa/article/ajaxlist';//数据获取地址
    TableManaged.init('articleList', "articleList_search", defaultColumns, submitUrl);//用table id,table search id,默认列 初始化table对象
</script>
<!-- END MAIN JS -->