@using Context;
@using CommonService.Model.SysManager;
@{
    Layout = "~/Views/Shared/_TabIframeTemplate.cshtml";//带Tab Iframe 页签切换的页面固定模板
}
@{
    ViewBag.Title = "计划商机";
}
@{
    List<C_Role_Role_Power> roleRolePowers = ViewBag.RoleRolePowers;//权限
}
<div class="itab">
    <ul>
        <li><a href="/BusinessChanceManager/BusinessChance/TabDetails?businessChanceCode=@ViewBag.BusinessChangeCode&type = 1" tabpanelwidth="100%" tabpanelheight="850" >商机信息</a></li>
        <li><a href="/BusinessChanceManager/BusinessChance/BusinessChanceEditPlantask?businessChanceCode=@ViewBag.BusinessChangeCode" tabpanelwidth="100%" tabpanelheight="850">计划任务</a></li>
        <li><a href="/FlowManager/BusinessFlow/BusinessChanceDefaultLayout?fkCode=@ViewBag.BusinessChangeCode" tabpanelwidth="100%" tabpanelheight="850" class="selected">分解任务</a></li>
    </ul>
</div>
